<div class="center jumbotron">
  <h1>You've arrived at my webpage...</h1>
  
  
  <a href="https://www.linkedin.com/in/evan-manuella-995912111">My linkedin </a> |
  <a href="https://github.com/manuella"> github </a> |

  <p>This website is a WIP, hopefully in the near future I'll find time to 
  feature some of my work.</p>
</div>

