<div class="center jumbotron">
  <h1>You've arrived at my webpage...</h1>
  <ul></ul>
  <a href="https://www.linkedin.com/in/evan-manuella-995912111">My linkedin </a>
  <a href="https://github.com/manuella"> My github </a>
  <li><%= link_to "About",   '#' %></li>
  <li><%= link_to "Contact", '#' %></li>
  </ul>
</div>