<div class="center jumbotron">
  <h1>You've arrived at my webpage...</h1>
  
  
  <a href="https://www.linkedin.com/in/evan-manuella-995912111">My linkedin </a> |
  <a href="https://github.com/manuella"> github </a>

  <p>This website is a WIP, hopefully in the near future I'll find time to 
  feature some of my work.</p>
  
  <pre> -----BEGIN PGP PUBLIC KEY BLOCK-----
  Version: GnuPG v1
  mQENBFbV/94BCAChwKqmOA2Fxi2QBxSyvpHzSl/F2AfoHsQE08Su8boLA13kLqgQ
  MABzGCGCvAvFElnhaxgViHlvf4/J0jFeSvakWXMmAk47ysi+ut2lz3cREk97gYxP
  aiQkymLU0qwuvuZjpDi6lnBT5rLsji5SVgBYjh5Uh4xwWLfRywIUneoY35vwjudl
  2/gkFH0tcBoGKHlZ6+gpolXKDpc+0Wk66qXxv2gNEFRTfgzr8vXGmVxsfJOyePKp
  n8En6w4M/82q6e+y7DBEVbQULFztl3JSyTdveKtnUnMe8W0Rn0S+h83vqDTeeoLR
  8QNWep7LD5AycBvAW4SjwAXx8m1dl0h7pICrABEBAAG0Q0V2YW4gRnJhbmsgTWFu
  dWVsbGEgKEdlbmVyYWwgUHVycG9zZSBLZXkpIDxFdmFuRk1hbnVlbGxhQGdtYWls
  LmNvbT6JAT4EEwECACgFAlbV/94CGwMFCQPCZwAGCwkIBwMCBhUIAgkKCwQWAgMB
  Ah4BAheAAAoJEHQXbYYw2KytAI0IAKCygAlFYp0xP9ukuvChJHMOuip7r67s4QNI
  iu87jR49ybr4EbhKQrt54UpbeORoUoBf9gcG7u4JO0vGD4lPoZCKlyW5O+8H0qPb
  MoFbAefNQxbAdhKFT5+hEJ6zy1FaEc3wZgj6nKiazjV+VZ2eKhss4bzYUBYBy3hM
  haICTZet4Aw9H7/UyE/tF6au9v50OIqAD/UcuvheaLRTsml3/DAvuiMt5o8E046G
  //Ye9aOMACCd04cidk5125Ajo9K+Lr03U+FZ/giGvimhRaDhUq9Zk7wDZPsZ6PiV
  Wn9vo8GuLAVKEQRPsSzzWrh6XKPratIgSYWzTIdtVHpvMqhyV6W5AQ0EVtX/3gEI
  AJFpCqFy622Kfs1e381ndy5vll+qEf91tZKKdNnB5zx8F+N01a/GJgsMWcTBg2Mf
  kgWfLJ62hJO33zqPDxed0/hK5xX/yUjV1DUI3M1rVanXmaNL6qj2MBMRtNld1oFm
  ixax9SzLB4UlEIzHsFDlitvUWhqWQ/2IgJDEr8HECXWKcFxEyAndhqrtezkPjQ6U
  14QMzpUz0VXn3m1OxlYH5D1r+Ty0VUTpv6mq5fLC/r54/kCJk0OI0OsmhpZqhUOj
  rNaLkjey6EUsBxd5FE4lKGz54nhVLm/pIAwXxizrrNqFsIRbAehzUv4b0BToVgoa
  ILlLqTeKPiAhT+YewtwoF0MAEQEAAYkBJQQYAQIADwUCVtX/3gIbDAUJA8JnAAAK
  CRB0F22GMNisrUd9B/9G0PBLCahkk6WrpkOUbeeD56RrAcOszlajfi92WIJvxP3S
  ay3ajHVVy0THlkTI2+Ej5C4dOqfMY3jkryywjewKfqJSm61gYrfcYP9cUxLryPUW
  EvzIPpB4ssAbQRJiBD06zcgwhXM5dAreupRx2DtUr9NJ/cR8oJvAzlNOqvcTcRxm
  7Dtv5TwyASNixup9jTmnmz4Qbw/DK+PcSGM4F9JxZ5j+M6yihvq0hLEn/i5yRMSD
  NEUf8alivoxqjgmtyOac+IotyGCMqWa4juw2tHWpImOX79uSkegMMZ08FAIKX7qg
  T7YCREyu0Xbwv5WDZSHCFcCBdM/ppOnLLFR3EKn6
  =N29d
  -----END PGP PUBLIC KEY BLOCK-----</p>
</div>

