<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Evan Manuella", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav>
  </div>
</header>